/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style-type: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495e;
    font-family: sans-serif;
    color: #ffffff;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 500px;
    width: 100%;
    padding: 0 1.4rem;
}

.container {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px;
    padding: 20px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.dice {
    font-size: 4rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
.roll__animation {
    animation-name: roll;
}

/**** Animation roll ****/

@keyframes roll {
    from {
      transform: rotateY(0deg) rotateX(0deg);
    }
  
    to {
      transform: rotateY(720deg) rotateX(720deg);
    }
}
  
#roll__btn {
    width: 100%;
    background-color: #47a5c4;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
#roll__btn:hover {
    background-color: #2e8baf;
}
  
ul {
    width: 100%;
    padding: 0;
    margin: 2rem auto;
}
  
li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.75rem;
    margin: 1.2rem 0;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
  
li span {
    font-size: 3rem;
}

footer span {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}